Host hap.aws.bamboo
  HostName 54.208.221.149
  User ec2-user
  IdentityFile ~/Sync/Documents/SSH_Keys/AWS-HAP/hapsvcapppd.pem

Host hap.aws.bitbucket
  HostName 54.208.93.149
  User ec2-user
  IdentityFile ~/Sync/Documents/SSH_Keys/AWS-HAP/hapsvcapppd.pem

Host hap.aws.jira
  HostName 54.172.58.27
  User ec2-user
  IdentityFile ~/Sync/Documents/SSH_Keys/AWS-HAP/hapsvcapppd.pem

Host hap.aws.bastion
  HostName 54.174.28.26
  User ec2-user
  IdentityFile ~/Sync/Documents/SSH_Keys/AWS-HAP/hapsvcec2bst01.pem

Host hap.aws.aras.sandbox
  HostName ec2-52-90-185-195.compute-1.amazonaws.com
  User ubuntu
  IdentityFile ~/Sync/Documents/SSH_Keys/AWS-HAP/hap-cloud-admin-keypair.pem
  
Host hap.aws.jira.sandbox
  HostName 54.173.41.221
  User ubuntu
  IdentityFile ~/Sync/Documents/SSH_Keys/AWS-HAP/hap-cloud-admin-keypair.pem
  